* {
  margin: 0;
  padding: 0;
  font-family: Helvetic Neue, sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: antiquewhite;
  padding-top: 3%;
}

#calcbg {
  /* background: #010d15; */
  /* background-image: linear-gradient(135deg, #0f5380 0%, #0a0f72 100%); */
  min-height: 100vh;
  background-image: url(calc\ bg\ img.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

/* calc background */
.container {
  background: rgba(163, 158, 158, 0.234);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 25px 25px 5px;
  width: 350px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.421);
}

.calc-input {
  margin-bottom: 20px;
  padding-left: 5px;
}

.calc-input p {
  width: 100%;
  font-size: 3.5rem;
  text-align: end;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  background: #333;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

button:active,
button:focus {
  filter: brightness(120%);
}

.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 10px;
}

.key-zero {
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
}

.bodmas {
  background-color: #ff9501;
}

.operate {
  background-color: #a6a6a6;
  color: #000;
}

#popup {
  height: 400px;
  width: 330px;
  background-color: #d2caca;
  /* border: 1px solid black; */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  border-radius: 10px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  /* opacity: 0;
  pointer-events: none; */
  margin-top: 23%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#popup.show {
  /* opacity: 1;
  pointer-events: auto; */
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

/* .active {
  opacity: 1;
} */

/* .open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
} */

.closesign {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.cancelbtn {
  border-radius: 5px;
  padding: 5px 5px;
  font-size: large;
  height: 30px;
  background: #4b4a4a;
  /* margin-top: 68%; */
  margin-left: 40%;
  margin-right: 40%;
}

/* history showed in histo div */
#histo {
  height: 330px;
  width: 300px;
  margin-left: 10px;
  /* border: 1px solid red; */
  text-align: center;
  padding-top: 10px;
}
/* medium screen */
@media only screen and (min-width: 421px) and (max-width: 1172px) {
}
/* small screen */
@media only screen and (min-width: 80px) and (max-width: 420px) {
  body {
    background-image: url(calc\ bg\ img.jpg);
    background-size: cover;
  }
}
